@media (min-width: 320px) and (max-width: 425px) {

    .container {
        max-width: 375px;
    }

    .header__top-inner {
        justify-content: center;
    }

    .nav__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        transform: translateX(-13px);
        gap: 25px;
    }

    .nav__item {
        width: max-content;
        font-weight: 300;
        font-size: 8px;
        line-height: 12px;
    }

    .header__bottom-left {
        margin-top: 50px;
        align-items: center;
    }

    .header__bottom-title {
        font-size: 22px;
        line-height: 26px;
    }

    .header__bottom-subtittle {
        font-size: 28px;
        line-height: 28px;
        text-align: center;
    }

    .header__bottom-text {
        text-align: center;
        width: 350px;
        font-size: 13px;
        line-height: 15px;
    }

    .header__bottom-contact {
        padding: 8px 24px;
        font-size: 13px;
        line-height: 15px;
        border-radius: 4px;
    }

    .about__content{
        padding-top: 17px;
        background-color: #2a2a2a;
    }

    .about__content-text {
        padding: 0px;
    }

    .about__content-title {
        font-size: 32px;
        line-height: 54px;
        margin-bottom: 24px;
    }

    .about__content-subtitle {
        width: 320px;
        font-size: 16px;
        line-height: 20px;
    }

    .portfolio__inner {
        padding: 50px 0 75px;
    }

    .portfolio__title {
        font-size: 28px;
        line-height: 34px;
        text-align: left;
        margin-bottom: 30px;
    }

    .portfolio__corausel-btn {
        transform: scale(.6);
    }

    #prev {
        transform: scale(.6) rotateZ(180deg);
    }

    .portfolio__corausel-content {
        border-radius: 12px;
        padding: 15px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

    .corausel__right {
        gap: 6px;
    }

    .corausel__left-img {
        border-radius: 12px;
        width: 200px;
        height: 200px;
    }

    .corausel__right-title {
        font-size: 14px;
        line-height: 18px;
    }

    .corausel__right-text {
        height: 150px;
        width: 200px;
        font-size: 13px;
        line-height: 15px;
    }

    .corausel__right-link {
        font-size: 13px;
        line-height: 15px;
    }

    .footer__inner {
        padding: 30px 0;
    }

    .footer__links {
        margin-right: 0px;
    }
    .footer__contact {
        gap: 14px;
        margin-right: 0px;
    }
}