@media (min-width: 320px) and (max-width: 425px) {

    .container {
        max-width: 375px;
    }

    .header__top-inner {
        justify-content: center;
    }

    .nav__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        transform: translateX(-13px);
        gap: 18px;
    }

    .nav__link {
        font-size: 16px;
        letter-spacing: 0px
    }

    .header__bottom-left {
        height: 88vh;
        margin-top: 120px;
        align-items: center;
    }

    .header__bottom-title {
        font-size: 22px;
        line-height: 26px;
    }

    .header__bottom-subtittle {
        font-size: 28px;
        line-height: 28px;
        text-align: center;
    }

    .header__bottom-text {
        text-align: center;
        width: 350px;
        font-size: 13px;
        line-height: 15px;
    }

    .header__bottom-contact {
        padding: 8px 24px;
        font-size: 13px;
        line-height: 15px;
        border-radius: 4px;
    }

    .about__content {
        border-radius: 10px;
        padding-top: 17px;
        background-color: #2a2a2a;
    }

    .about__content-text {
        padding: 0px;
    }

    .about__content-title {
        font-size: 32px;
        line-height: 54px;
        margin-bottom: 24px;
    }

    .about__content-subtitle {
        width: 320px;
        font-size: 16px;
        line-height: 20px;
    }

    .portfolio__inner {
        padding: 0;
    }

    .portfolio-box {
        border-radius: 10px;
        padding: 12px;
        gap: 6px;
    }

    .portfolio-img {
        border-radius: 6px;
        width: 200px;
        height: 200px;
    }

    .portfolio-text {
        width: fit-content;
        height: min-content;
        font-size: 14px;
        line-height: 19px;
    }

    .portfolio-link {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0px;
    }

    .portfolio-link:after {
        background-color: transparent;
    }

    .portfolio-link {
        display: flex;
        gap: 16px;
    }

    .portfolio__title {
        font-size: 20px;
        line-height: 20px;
        text-align: left;
    }

    .footer__inner {
        padding: 30px 0;
    }

    .footer__info {
        padding-top: 100px;
        margin: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        align-items: center;
    }

    .footer__links {
        margin-right: 0px;
    }

    .footer__contact {
        gap: 14px;
        margin-right: 0px;
    }

    .footer__title {
        padding-top: 10px;
        padding-bottom: 0px;
        font-weight: 600;
        font-size: 30px;
        line-height: 32px;
    }

    .logo-img{
        height: 30px;
    }

    .info__logo{
        width: 80px;
    }
}